.status {
  padding: 6px;
  border-radius: 24px;
  margin-left: 14px;
}
.status.online {
  background-color: green;
}
.status.offline {
  background-color: red;
}
.item {
  width: 300px;
  display: flex;
  column-gap: 8px;
  padding: 24px 0px;
  align-items: center;
  -webkit-box-shadow: 0px 8px 21px -12px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 8px 21px -12px rgba(66, 68, 90, 1);
  box-shadow: 0px 8px 21px -12px rgba(66, 68, 90, 1);
}
.name {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 0 20px;
}
